@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@font-face {
  font-family: 'Wotfard Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Wotfard Regular'),
    url('./assets/webfonts/wotfard-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Wotfard Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Wotfard Medium'),
    url('./assets/webfonts/wotfard-medium-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Wotfard Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Wotfard Semibold'),
    url('./assets/webfonts/wotfard-semibold-webfont.woff2') format('woff2');
}

a,
button,
.bp3-tab {
  /* cursor: default !important; */
  outline: none;
}

button {
  display: inline-block;
  /* max-width: 200px; */
  margin: 0 auto;
}

body {
  font-family: 'Wotfard Medium';
  background-color: #293742;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

button {
  outline: none !important;
}

.container,
.bp3-dialog {
  max-width: 80vw;
  margin: 0 auto;
}

.bp3-dialog {
  min-width: 80vw !important;
}

.bp3-tab-panel {
  width: 100%;
}

.bp3-callout {
  min-height: 86px;
}

.bp3-toast-message {
  text-align: center;
}

.react-select-container {
  background-color: transparent !important;
}

.react-select__control {
  background-color: rgba(16, 22, 26, 0.3) !important;
  border: none !important;
  box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%),
    0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 30%),
    inset 0 1px 1px rgb(16 22 26 / 40%) !important;
  color: #f5f8fa !important;
}

.react-select__input {
  /* background-color: #f5f8fa !important; */
}
.react-select__input input:focus {
  box-shadow: none;
}
