@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@font-face {
  font-family: 'Wotfard Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Wotfard Regular'),
    url('./assets/webfonts/wotfard-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Wotfard Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Wotfard Medium'),
    url('./assets/webfonts/wotfard-medium-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Wotfard Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Wotfard Semibold'),
    url('./assets/webfonts/wotfard-semibold-webfont.woff2') format('woff2');
}

a,
button,
.bp3-tab {
  /* cursor: default !important; */
  outline: none;
}

body {
  font-family: 'Wotfard Medium';
  background-color: #293742;
}

h1 {
  text-align: center;
  font-size: 18px;
}

h2 {
  margin-top: 0;
}

button {
  outline: none !important;
}

body {
  top: 0;
  left: 0;
  height: 720px;
  background-color: transparent;
}

#root {
  height: 720px;
  background-color: #293742;
  border-radius: 5px;
}

.container,
.header-container,
.bp3-dialog {
  max-width: 80vw;
  margin: 0 auto;
}

.bp3-overlay-backdrop {
  border-radius: 5px;
}

.bp3-drawer,
.bp3-menu,
.bp3-menu-item {
  -webkit-app-region: no-drag !important;
}

.bp3-drawer {
  -webkit-app-region: no-drag !important;
  margin-top: 70px;
  width: 300px !important;
  background: none !important;
  box-shadow: none !important;
  height: 100px !important;
}

.bp3-menu.drawer-menu {
  width: 100%;
}

.status-tag {
  margin: 10px 0px;
  padding: 5px 0px;
  text-align: center;
}

.header {
  -webkit-app-region: drag;
  padding: 0;
  margin-bottom: 50px;
  background-color: #202b33 !important;
  border-radius: 5px 5px 50px 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-heading {
  color: #a7b6c2;
  display: inline-block;
  padding: 0;
  margin: 8px 0 5px 0;
}

.about-body {
  color: #a7b6c2 !important;
  font-weight: 700;
}

.button-group {
  -webkit-app-region: no-drag;
  z-index: 20;
}

.bp3-popover2-content:focus {
  outline: none !important;
  border: 1px solid rgba(16, 22, 26, 0.3);
}

.bp3-dialog {
  min-width: 80vw !important;
}

.bp3-tab-panel {
  width: 100%;
}

.bp3-callout {
  min-height: 86px;
}

.bp3-toast-message {
  text-align: center;
}

.react-select-container {
  background-color: transparent !important;
}

.react-select__control {
  background-color: rgba(16, 22, 26, 0.3) !important;
  border: none !important;
  box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%),
    0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 30%),
    inset 0 1px 1px rgb(16 22 26 / 40%) !important;
  color: #f5f8fa !important;
}

.react-select__input {
  /* background-color: #f5f8fa !important; */
}
.react-select__input input:focus {
  box-shadow: none;
}
